---
layout: default
---
<script type="application/ld+json">
{ "@context": "http://schema.org",
 "@type": "Blog",
 "keywords": "software engineering sailing getoutside php",
 "url": "https://www.henryayres.co.uk",
 "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "https://www.henryayres.co.uk"
  },
 "author": {
    "@type": "Person",
    "name": "Henry Ayres",
    "sameAs": [
        "https://twitter.com/hayres",
        "https://github.com/hayres",
        "https://uk.linkedin.com/in/henryayres"
    ]
  }
 }
</script>
<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in paginator.posts  %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        Author: {{post.author}}<br/>

        {% if post.thumbnail != '' %}
        <img src="{{ post.thumbnail | prepend: site.image_url}}"/>
        {% endif %}
        {{ post.content | truncatewords : 100}}<br/>
        <a  class="readmore" href="{{ post.url | prepend: site.baseurl }}">Read More</a>
      </li>
    {% endfor %}
  </ul>





  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>



  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% else %}
    <span class="previous">Previous</span>
    {% endif %}
    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
    <span class="next ">Next</span>
    {% endif %}
  </div>
</div>
